.main{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}
.content h1 {
    color: rgb(255, 98, 165);
}

.content p {
    color: white;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .content h1 {
      font-size: 40px; 
    }
    
    .content p {
      font-size: 24px; 
    }
    
    .content img {
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 576px) {
    .content h1 {
      font-size: 30px;
    }
    
    .content p {
      font-size: 18px; 
    }
  }

